.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.accordion__item {
  position: relative;
  padding-bottom: var(--spacing-2xl);
  border-bottom: 1px solid var(--border-color);
}

.accordion__button {
  position: relative;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-size-lg);
}

.accordion__button::before,
.accordion__button::after {
  content: '';
  position: absolute;
  right: var(--spacing-md);
  top: var(--spacing-md);
  width: var(--size-icon-xs);
  height: 3px;
  background-color: var(--text-primary);
  transition: transform 0.4s;
}

.accordion__button::after {
  transform: translateY(-50%);
}

.accordion__button::before {
  transform: translateY(-50%) rotate(90deg);
}

.accordion__button--active::before {
  transform: translateY(-50%) rotate(0);
}

.accordion__collapse {
  overflow: hidden;
  transition: height 0.5s ease;
}

.accordion__body {
  padding-top: var(--spacing-xl);
}

.accordion__body-text {
  max-width: var(--max-width-content-7xl);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .accordion__button {
    font-size: var(--font-size-xs);
  }
  .accordion__body-text {
    font-size: var(--font-size-xs);
  }
}

