.burger {
  --width: 30px;
  --height: 30px;
  --height-line: 4px;
  --center: calc((var(--height) / 2) - (var(--height-line) / 2));
  --center-negative: calc((var(--height) / -2) - (var(--height-line) / -2));

  position: relative;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
  width: var(--width);
  height: var(--height);
  display: none;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.burger__line {
  height: var(--height-line);
  width: 100%;
  background-color: var(--accent-yellow);
  transition: transform 0.7s ease 0s;
}

.burger--active .burger__line:nth-child(1) {
  transform: translateY(var(--center)) rotate(45deg);
}

.burger--active .burger__line:nth-child(2) {
  transform: scaleX(0);
}

.burger--active .burger__line:nth-child(3) {
  transform: translateY(var(--center-negative)) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .burger {
    display: inline-flex;
  }
}
