.business {
  padding-block: clamp(80px, 12vw, 140px);
  background-color: var(--bg-secondary);
  transition: background-color 0.3s ease;
}

.business__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-7xl);
  max-width: var(--max-width-container);
}

.business__icon {
  width: var(--icon);
  height: var(--icon);
}

.business__slider {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4xl);
  transition: gap 0.4s;
}

.business__nav {
  display: flex;
  position: static;
  width: var(--size-icon-2xl);
  height: var(--size-icon-2xl);
  border-radius: var(--radius-full);
  background-color: var(--accent-yellow-strong);
  transition: background-color 0.4s;
  justify-content: center;
  align-items: center;
  line-height: 0;
  cursor: pointer;
}

.business__nav:hover {
  background-color: var(--color-black);
}

.business__nav:hover::after {
  color: var(--color-white);
}

.business__nav::after {
  content: '➜';
  color: var(--color-black);
  font-size: var(--font-size-lg);
  transition: color 0.4s;
}

.business__nav--prev::after {
  transform: rotate(180deg);
}

.business__box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  max-width: var(--max-width-content-7xl);
}

.business__navigation-box {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-xl);
  padding: var(--spacing-lg);
}

.business__list {
  display: flex;
  overflow-x: auto;
  gap: var(--spacing-4xl);
  list-style: none;
  padding: 0;
  margin: 0;
}

.business__item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-3xl) var(--spacing-2xl);
  border-radius: var(--radius-sm);
  background-color: var(--bg-tertiary);
  transition:
    background-color 0.4s,
    color 0.4s;
  min-width: 345px;
}

.business__item:hover {
  background-color: var(--text-primary);
}

.business__item:hover .business__title {
  color: var(--bg-primary);
  transition: color 0.4s;
}

.business__item:hover .business__text {
  color: var(--bg-primary);
  transition: color 0.4s;
}

.business__item:hover .business__icon {
  fill: var(--accent-yellow-strong);
}

.business__item .business__icon {
  width: 35px;
  height: var(--size-icon-sm);
  fill: var(--text-primary);
  transition: fill 0.4s;
}

.business__title {
  color: var(--title-color);
  transition: color 0.4s;
  margin: 0;
}

.business__text {
  color: var(--text-color);
  transition: color 0.4s;
  margin: 0;
}

.business__slide {
  margin: 0;
}

@media screen and (width <= 1024px) {
  .business__container {
    padding: 0 var(--spacing-3xl);
  }
}

@media screen and (width <= 768px) {
  .business__container {
    padding: 0 var(--spacing-base);
  }
}
