.business {
  margin-bottom: 8%;
  padding: 10% 0;
  background-color: var(--bg-secondary);
  transition: background-color 0.3s ease;
}

.business__swiper {
  margin-bottom: 70px;
  overflow: hidden;
}

.business__swiper .swiper-wrapper {
  transition-timing-function: ease-in-out;
}

.business__swiper .swiper-button-next,
.business__swiper .swiper-button-prev {
  position: static;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffc42b;
  transition: background-color 0.4s;
}

.business__swiper .swiper-button-next:hover,
.business__swiper .swiper-button-prev:hover {
  background-color: #181818;
}

.business__swiper .swiper-button-next:hover::after,
.business__swiper .swiper-button-prev:hover::after {
  color: #fff;
}

.business__swiper .swiper-button-next::after,
.business__swiper .swiper-button-prev::after {
  content: '\279C';
  color: #141414;
  font-size: 20px;
  transition: color 0.4s;
}

.business__swiper .swiper-button-prev::after {
  transform: rotate(180deg);
}

.business__box {
  max-width: 600px;
}

.business__navigation-box {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.business__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  align-items: start;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.business__item {
  padding: 35px 25px;
  border-radius: 20px;
  background-color: var(--bg-tertiary);
  transition: background-color 0.4s;
}

.business__item:hover {
  background-color: var(--text-primary);
}

.business__item:hover .business__title {
  color: var(--bg-primary);
  transition: color 0.4s;
}

.business__item:hover .business__text {
  color: var(--bg-primary);
  transition: color 0.4s;
}

.business__item:hover .business__icon {
  fill: #ffc42b;
}

.business__item .business__icon {
  width: 35px;
  height: 25px;
  margin-bottom: 25px;
  fill: var(--text-primary);
  transition: fill 0.4s;
}

.business__title {
  color: var(--title-color);
  margin-bottom: 15px;
  transition: color 0.4s;
}

.business__text {
  color: var(--text-color);
  transition: color 0.4s;
}

.swiper.business__swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  transition: gap 0.4s;
}

@media (width >= 768px) {
  .swiper.business__swiper {
    align-items: end;
    gap: 0;
  }
}
