.contact {
  padding-bottom: 10%;
}

.contact__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__contact-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.contact__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.contact__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
}

.contact__item:nth-child(1) .contact__icon-box {
  background-color: var(--accent-yellow-soft);
}

.contact__item:nth-child(2) .contact__icon-box {
  background-color: var(--accent-green-soft);
}

.contact__item:nth-child(3) .contact__icon-box {
  background-color: var(--bg-tertiary);
}

.contact__icon {
  width: 25px;
  height: 25px;
}

.contact__item:nth-child(1) .contact__icon {
  fill: transparent;
  stroke: var(--accent-yellow-dark);
}

.contact__item:nth-child(2) .contact__icon {
  fill: transparent;
  stroke: var(--accent-green);
}

.contact__item:nth-child(3) .contact__icon {
  fill: transparent;
  stroke: var(--text-primary);
}

.contact__contact-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact__small-text {
  display: block;
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

.contact__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
}

.contact__strong {
  display: block;
  max-width: 260px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (--bp-md) {
  .contact__contact-us {
    max-width: 420px;
  }
}

@media (--bp-lg) {
  .contact__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact__form {
    width: 50%;
  }
}
