.faq__container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  transition: background-color 0.3s ease;
  background-color: var(--bg-secondary);
  border-radius: 30px;
  padding: 150px 0;
}

.faq__subtitle {
  width: fit-content;
  padding: var(--subtitle-padding);
  color: var(--subtitle-second-color);
  background-color: var(--subtitle-second-background);
  border-radius: var(--subtitle-radius);
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 24px;
}

.faq__title {
  margin: 0;
  color: var(--title-color);
  font-size: 45px;
  font-weight: var(--title-font-weight);
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.faq__accordion {
  width: 100%;
  max-width: 725px;
}

@media screen and (max-width: 1440px) {
  .faq__container {
    max-width: 100%;
    border-radius: 0;
    padding: 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .faq__accordion {
    padding: 0 15px;
  }
  .faq__title {
    font-size: 30px;
  }
}
