.footer {
  padding-top: 10%;
  padding-bottom: 30px;
  background-image: url('/src/assets/images/footerBg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--overlay);
  z-index: 1;
}

.footer > * {
  position: relative;
  z-index: 2;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 55px;
  border-bottom: 1px solid var(--border-color);
}

.footer__content {
  max-width: 350px;
  padding-right: 10%;
  border-right: 1px solid var(--border-color);
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__social {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  width: 40%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item {
}

.footer__title {
  position: relative;
  margin-bottom: 20px;
  color: #fff;
}

.footer__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 20px;
  background-color: #ffcc4a;
}

.footer__sublist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__subitem:not(:last-child) {
  margin-bottom: 4px;
}

.footer__sublink {
  text-decoration: none;
  color: #fff;
}

.footer__sublink::before {
  background-color: #fff;
}

.footer__address {
}

.footer__text {
  max-width: 230px;
  margin-bottom: 15px;
  color: #fff;
}

.footer__link {
  display: inline-block;
  padding: 15px 23px;
  text-decoration: none;
  color: #181818;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 42px;
  background-color: white;
}

.footer__copyright {
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
