.footer {
  padding-top: 120px;
  padding-bottom: 30px;
  background-image: url('/src/assets/images/footerBg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--overlay);
  z-index: 1;
}

.footer > * {
  position: relative;
  z-index: 2;
}

.footer__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 55px;
  border-bottom: 1px solid var(--border-color);
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 130px;
  border-right: 1px solid var(--border-color);
}

.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.footer__title {
  position: relative;
  padding-bottom: 20px;
  color: var(--color-white);
  margin: 0;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__title::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 20px;
  background-color: var(--accent-yellow);
}

.footer__sublist {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__sublink {
  text-decoration: none;
  color: var(--special-link-color);
  font: var(--special-link-font-weight) 18px Lato, sans-serif;
}

.footer__sublink::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  vertical-align: middle;
  border: 0.98px solid rgb(81 81 81);
  background-color: var(--color-white);
  border-radius: 50%;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__text {
  max-width: 230px;
  color: var(--color-white);
}

.footer__link {
  display: inline-block;
  padding: 15px 23px;
  text-decoration: none;
  color: var(--color-black);
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 42px;
  background-color: var(--color-white);
}

.footer__copyright {
  padding-top: 20px;
  color: var(--color-white);
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .footer__container {
    max-width: 100%;
    padding: 0 60px;
  }
  .footer__content {
    padding-right: 60px;
  }
  .footer__list {
    padding: 0;
  }
  .footer__wrapper {
    gap: 60px;
  }
  .footer {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__content {
    border: 0;
    padding: 0;
  }
  .footer__sublink::before {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .footer__list {
    flex-direction: column;
  }
  .footer__link {
    text-align: center;
  }
}
