.header {
  position: relative;
  z-index: 10;
  backdrop-filter: blur(21px);
  background-color: rgb(27 27 27 / 91%);
  transition: background-color 0.3s ease;
}

[data-theme='dark'] .header {
  background-color: rgb(26 26 26 / 95%);
}

.header::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 9;
  display: block;
  background-color: var(--color-black);
  transition: background-color 0.3s ease;
}

[data-theme='dark'] .header::after {
  background-color: var(--color-black);
}

.header__container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 12px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 20px 10px;
  background-color: var(--color-black);
}

.header__time-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.header__icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: var(--accent-yellow);
}

.header__address {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__text {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: var(--color-white);
}

@media (--bp-sm) {
  .header__container {
    max-width: 576px;
  }
}

@media (--bp-md) {
  .header__container {
    max-width: 768px;
    padding: 30px 16px;
  }
}

@media (--bp-lg-wide) {
  .header__container {
    max-width: 1024px;
  }
}

@media (--bp-xxl) {
  .header__container {
    max-width: 1312px;
  }
}

@media (--bp-xl) {
  .header::after {
    display: none;
  }
}

@media (width <= 1200px) {
  .header__contact-box {
    display: none;
  }
}
