.header {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(21px);
  background-color: rgb(27 27 27 / 91%);
}

[data-theme='dark'] .header {
  background-color: rgb(26 26 26 / 95%);
}

.header__time, .header__address {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 9;
  display: block;
  background-color: var(--color-black);
  transition: background-color 0.3s ease;
  display: none;
}

[data-theme='dark'] .header::after {
  background-color: var(--color-black);
}

.header__main {
  width: 100%;
  margin: 0 auto;
  padding: 30px 30px;
  max-width: 1312px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 20px 10px;
  background-color: var(--color-black);
}

.nav__list {
  list-style: none;
}

.header__socials {
  display: flex;
  gap: 25px;
}

.header__icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: var(--accent-yellow);
}

.header__text {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: var(--color-white);
}

.header__phone .phone__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffc42b;
  background-image: url('/src/assets/icons/phone.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.header__phone {
  display: flex;
  align-items: center;
  padding: 8px 40px 8px 10px;
  background-color: #fff;
  border-radius: 42px;
}

.phone__link {
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #353535;
}

@media screen and (max-width: 1024px) {
  .header__contact {
    display: none;
  }
  .logo {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__main {
    justify-content: end;
  }
}
