.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 600px;
  background-image: url('/src/assets/images/servicesSingelBg.webp');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__subtitle {
  width: fit-content;
  padding: var(--subtitle-padding);
  background-color: var(--subtitle-first-background);
  border-radius: var(--subtitle-radius);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-base);
}

.hero__container {
  padding-left: var(--spacing-9xl);
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding: var(--spacing-6xl) var(--spacing-7xl);
  border-radius: var(--radius-md);
  background-color: color-mix(in srgb, var(--color-white) 85%, transparent);
  transition:
    background-color 0.3s ease,
    margin-left 0.4s;
}

[data-theme='dark'] .hero__content {
  background-color: var(--header-hero-bg-dark);
}

.hero__title--special {
  font-size: var(--font-size-3xl);
  color: var(--special-title-color);
  font-weight: var(--title-font-weight);
  line-height: 100%;
  margin: 0;
}

@media screen and (width <= 1024px) {
  .hero__title--special {
    font-size: var(--font-size-xl);
  }

  .hero__container {
    padding: 0;
  }

  .hero {
    justify-content: center;
  }
}
