.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 600px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  margin: 0;
}

.hero__content {
  margin-left: 0;
  padding: 40px 35px;
  border-radius: 29px;
  background-color: rgb(255 255 255 / 85%);
  transition:
    background-color 0.3s ease,
    margin-left 0.4s;
}

[data-theme='dark'] .hero__content {
  background-color: rgb(26 26 26 / 85%);
}

.hero__subtitle {
  margin-bottom: 20px;
}

.hero__title {
  max-width: 550px;
}

@media (width >= 992px) {
  .hero__content {
    margin-left: 200px;
  }
}

@media (width < 576px) {
  .hero {
    min-height: 420px;
  }

  .hero__content {
    padding: 24px 20px;
  }
}
