.history {
  padding-block: clamp(80px, 12vw, 140px);
  background-color: var(--color-black);
}

.history__subtitle {
  width: fit-content;
  padding: var(--subtitle-padding);
  color: var(--subtitle-second-color);
  background-color: var(--subtitle-second-background);
  border-radius: var(--subtitle-radius);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-base);
}

.history__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-base);
  max-width: var(--max-width-container);
  display: flex;
  flex-direction: column;
  gap: clamp(var(--spacing-4xl), 6vw, var(--spacing-7xl));
}

.history__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-xl);
}

.history__title {
  color: var(--color-white);
  max-width: var(--max-width-content-6xl);
  font-size: var(--font-size-2xl);
}

.history__box {
  position: relative;
  isolation: isolate;
}

.history__pattern {
  position: absolute;
  top: -35px;
  left: -50px;
  z-index: var(--z-pattern-bg);
  max-width: var(--max-width-content-lg);
}

.history__bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--max-width-content-4xl);
  border-radius: var(--radius-lg);
  background-image: url(/src/assets/images/historyImg2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.history__bg::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--history-overlay);
  border-radius: var(--radius-lg);
}

.history__play-button {
  z-index: 2;
  transition: transform 0.4s;
}

.history__play-button:active {
  transform: scale(0.9);
}

.history__play-icon {
}

.history__background-green-icon {
  position: absolute;
  top: -10px;
  left: -110px;
  z-index: -1;
}

.history__background-yellow-icon {
  position: absolute;
  bottom: -20px;
  right: -15px;
  z-index: var(--z-pattern);
  width: var(--size-history-yellow-width);
  height: var(--size-history-yellow-height);
  border-radius: var(--radius-sm);
  background-color: var(--accent-yellow);
}

@media screen and (max-width: 1440px) {
  .history__container {
    padding: 0 var(--spacing-8xl);
  }
}

@media screen and (max-width: 768px) {
  .history__title {
    font-size: var(--font-size-xl);
  }
}
