.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: -100rem;
  z-index: 1;
  height: calc(100vh - 100px);
  background-color: var(--bg-primary);
  transition:
    top 1s,
    background-color 0.3s ease;
  overflow: auto;
}

.nav--active {
  top: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.nav__link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--special-link-color);
  font: var(--special-link-font-weight) 18px Lato, sans-serif;
}

.nav__link::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  vertical-align: middle;
  border: 0.98px solid rgb(81 81 81);
  background-color: transparent;
  border-radius: 50%;
}

.nav__item--phone {
  display: flex;
  align-items: center;
  padding: 8px 40px 8px 10px;
  background-color: var(--color-white);
  border-radius: 42px;
}

.nav__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--accent-yellow-strong);
}

.nav__phone-icon {
  width: 30px;
  height: 30px;
  fill: transparent;
  stroke: var(--color-black);
}

.nav__phone-link {
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-secondary);
}

.nav__link--active {
  color: var(--accent-green);
}

.nav__link--active::before {
  background-color: var(--accent-green);
}

@media (--bp-xl) {
  .nav {
    position: static;
    height: 0;
    overflow: visible;
  }

  .nav__list {
    flex-direction: row;
    padding: 0;
  }

  .nav__item--phone {
    margin-left: 100px;
  }
}
