.process {
  padding-bottom: 10%;
}

.process__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.process__img {
  border-radius: 28px;
}

.process__content {
  max-width: 450px;
}

.process__subtitle {
  margin-bottom: 20px;
}

.process__title {
  max-width: 430px;
  margin-bottom: 40px;
}

.process__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.process__item {
  display: flex;
  gap: 20px;
}

.process__item:not(:last-child) {
  margin-bottom: 40px;
}

.process__icon {
  flex-shrink: 0;
  width: 30px;
  height: 26px;
}

.process__text-box {
}

.process__small-title {
}

.process__text {
}

.process__img-box {
  position: relative;
  isolation: isolate;
  display: flex;
  gap: 15px;
}

.process__img_big {
  max-width: 300px;
}

.process__img_top,
.process__img_bottom {
  max-width: 320px;
}

.process__icon-box {
  position: relative;
}

.process__icon {
  position: absolute;
  bottom: -80px;
  left: 45px;
  z-index: -1;
  width: 100px;
  height: 200px;
  border-radius: 20px;
  background-color: #4eaf4e;
  transform: rotate(-90deg);
}

.process__Pattern {
  position: absolute;
  top: -20px;
  right: -10px;
  z-index: -1;
  max-width: 250px;
}

.process__small-img-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 992px) {
  .process__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
