.services {
  padding-block: clamp(80px, 12vw, 140px);
  background-color: var(--bg-secondary);
}

.services__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.services__title {
  max-width: 750px;
  text-align: center;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
  gap: 20px;
}

.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 5%;
  background-color: var(--bg-tertiary);
  border-radius: 20px;
  transition:
    background-color 0.4s,
    color 0.4s;
}

.services__item:hover {
  background-color: var(--color-black);
}

.services__item:hover .services__small-title,
.services__item:hover .services__text {
  color: var(--color-white);
}

.services__link {
  position: absolute;
  z-index: 10;
  inset: 0;
  text-decoration: none;
}

.services__small-title {
  font-size: 25px;
  transition: color 0.4s;
}

.services__text {
  transition: color 0.4s;
}
