.socials {
  display: flex;
}

.socials__icon {
  fill: var(--color-white);
  width: var(--size-icon-sm);
  height: var(--size-icon-sm);
}

.socials__link {
  text-decoration: none;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-white);
}

.socials--header {
  gap: var(--spacing-2xl);
}

.socials--footer {
  gap: var(--spacing-xl);
}

