.work {
  padding-block: clamp(80px, 12vw, 140px);
}

.work__subtitle {
  width: fit-content;
  padding: var(--subtitle-padding);
  background-color: var(--subtitle-first-background);
  border-radius: var(--subtitle-radius);
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 24px;
}

.work__title {
  margin: 0;
  color: var(--title-color);
  font-size: 45px;
  font-weight: var(--title-font-weight);
}

.work__text {
  margin: 0;
  color: var(--text-color);
}

.work__short-text {
  margin: 0;
  color: var(--text-color);
}

.work__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 8vw, 80px);
}

.work__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1312px;
  display: flex;
  gap: 60px;
  flex-direction: row;
  justify-content: space-between;
}

.work__picture {
  background-image: url('/src/assets/images/workImg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100vh;
  max-height: 400px;
}

.work__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 480px;
}

.work__text-box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.work__icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.work__brand-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 15px;
  overflow-x: auto;
}

.work__brand {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  fill: rgb(3 2 17 / 50%);
}

@media screen and (max-width: 1440px) {
  .work__container {
    padding: 0 60px;
  }
}

@media screen and (max-width: 1024px) {
  .work__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .work__title {
    font-size: 30px;
  }
  .work__container {
    padding: 0 12px;
  }
  .work__picture {
    display: none;
  }
}
