@import './variables.css';
@import './reset.css';
@import './fonts.css';
@import './utilities.css';
@import './components/header.css';
@import './components/navigation.css';
@import './components/burger.css';
@import './components/theme-toggle.css';
@import './components/hero.css';
@import './components/business.css';
@import './components/work.css';
@import './components/history.css';
@import './components/process.css';
@import './components/accordion.css';
@import './components/faq.css';
@import './components/footer.css';
@import './components/slider.css';
@import './components/socials.css';
