.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  max-width: 100%;
}

.main {
  padding-bottom: 150px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: Cabin, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--color-white);
}

.logo__icon {
  width: 30px;
  height: 30px;
}

.logo__text {
  margin: 0;
}

.title {
  margin: 0;
  color: var(--title-color);
  font-size: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)));
  font-weight: var(--title-font-weight);
  line-height: 100%;
}

.small-title {
  color: var(--title-color);
  font-weight: 600;
  font-size: 20px;
}

.text {
  color: var(--text-color);
  font:
    var(--text-font-weight) Lato,
    sans-serif;
}

.black-link {
  padding: 15px 30px;
  text-decoration: none;
  color: var(--button-first-color);
  background-color: var(--button-first-background);
  border-radius: var(--button-radius);
  font:
    var(--button-font-weight) 18px Lato,
    sans-serif;
  border: 2px solid rgb(24 24 24);
  transition:
    background-color 0.4s,
    color 0.4s;
}

.black-link:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.yellow-link {
  padding: 15px 45px;
  text-decoration: none;
  color: var(--button-second-color);
  background-color: var(--button-second-background);
  border-radius: var(--button-radius);
  font:
    var(--button-font-weight) 18px Lato,
    sans-serif;
  transition:
    background-color 0.4s,
    color 0.4s;
}

.yellow-link:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.black-button {
  padding: 15px 30px;
  color: var(--button-first-color);
  background-color: var(--button-first-background);
  border-radius: var(--button-radius);
  font:
    var(--button-font-weight) 18px Lato,
    sans-serif;
}

.yellow-button {
  padding: 15px 45px;
  color: var(--button-second-color);
  background-color: var(--button-second-background);
  border-radius: var(--button-radius);
  font:
    var(--button-font-weight) 18px Lato,
    sans-serif;
}

.special-link {
  text-decoration: none;
  color: var(--special-link-color);
  font:
    var(--special-link-font-weight) 18px Lato,
    sans-serif;
}

.special-link::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  vertical-align: middle;
  border: 0.98px solid rgb(81 81 81);
  background-color: transparent;
  border-radius: 50%;
}

.first-subtitle {
  display: inline-block;
  padding: var(--subtitle-padding);
  color: var(--subtitle-first-color);
  background-color: var(--subtitle-first-background);
  border-radius: var(--subtitle-radius);
  font:
    var(--subtitle-font-weight) Lato,
    sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.second-subtitle {
  display: inline-block;
  padding: var(--subtitle-padding);
  color: var(--subtitle-second-color);
  background-color: var(--subtitle-second-background);
  border-radius: var(--subtitle-radius);
  font:
    var(--subtitle-font-weight) Lato,
    sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.social-icon {
  width: 27px;
  height: var(--social-icon);
}

.icon {
  width: var(--icon);
  height: var(--icon);
}

.img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

@media screen and (max-width: 1440px) {
  .main {
    padding-bottom: 0;
  }
}
